<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Student Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

       
    {% extends "layout.html" %}

    {% block content %}
    <section class="student-data">
        <h2>All Student Data</h2>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>USN</th>
                    <th>NAME</th>
                    <th>BRANCH</th>
                    <th>SEMESTER</th>
                    <th>SECTION</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student[0] }}</td>
                    <td>{{ student[1] }}</td>
                    <td>{{ student[2] }}</td>
                    <td>{{ student[3] }}</td>
                    <td>{{ student[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endblock %}
</body>
</html>
